<!DOCTYPE html>
<html>
<head>
  <title>AirHackApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= include_gon %>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <%= javascript_include_tag "google_maps" %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="containter">
      <div class="navbar-header">
        AirHack
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav"></ul>
        <ul class="nav navbar-nav navbar-right"></ul>
      </div>
    </div>
  </nav>

<%= yield %>

  <footer class="navbar  navbar-fixed-bottom navbar-default">
    <p>Made with ♡ by <a href="http://www.masonjennings.io/">Mason Jennings</a></p>
  </footer>

</body>
</html>